.addedToFav{
    filter: brightness(0) saturate(100%) invert(93%) sepia(80%) saturate(5779%) hue-rotate(11deg) brightness(116%) contrast(108%);
    fill: #F7F700;
}

.completed{
    text-decoration: line-through;
}